
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
build/
local/
profiles/
# native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
.DS_Store
